.widgets {
  &__container {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
  }
}

.footer {

  &__colophon-list {
    text-align: center;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      * {
        margin: 0;
      }
    }
  }
}