address {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.menu-list {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;

  li {
    font-size: initial;
    display: inline-block;
  }

  a {
    display: block;
    padding: 0.3rem 0.5rem;
  }
}