.header {

  &__inner-container {
    padding: 1rem;
  }

  &__social-container {
    display: flex;
    justify-content: flex-end;
  }

  &__menu {
    &--sticky {
      margin-bottom: 0;
    }

  }


  &__menu-container {

    &--centered {
      text-align: center;
    }

  }

  &__menu {

    li {

      display: inline-block;
      margin: 0 0.4rem;
      padding: 0;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

    }

    a {
      display: block;
    }

    &--off-canvas {

      li {
        display: block;
        margin: 0.4rem 0;
      }
    }


  }

  &__container {
    &--right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &--centered {
      display: flex;
      justify-content: center;
    }
  }


  &__off-canvas-container {

    background: red;
    height: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 100;

    &--right {

      @extend .header__off-canvas-container;

      right: -250px;
      -webkit-transition: 0.3s right ease-in-out;
      -moz-transition: 0.3s right ease-in-out;
      -ms-transition: 0.3s right ease-in-out;
      -o-transition: 0.3s right ease-in-out;
      transition: 0.3s right ease-in-out;
      top: 0;
      width: 250px;

    }
  }

}


.header-menu {
  &__inner-container {
    height: 100%;
  }
}

.sticky-menu {

  &__outer-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  &__container {
    &--centered {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }

}

.admin-bar {

  .sticky-menu__outer-container {

    @media screen and (max-width: 782px) {
      top: 46px;
    }

    @media screen and (min-width: 783px) {
      top: 32px;
    }

  }

}

.sticky-menu {

  &__outer-container {
    background: white;
  }

  &__container {
    &--right {
      align-items: flex-end;
      display: flex;
      justify-content: end;
    }
  }
}
// positioning based on jquery toggle class
body {

  &.show-menu {

    .off-canvas-right {
      right: 0;
    }

  }

  &.admin-bar {

    .header__off-canvas-container {

      @media screen and (max-width: 782px) {
        top: 42px;
      }

      @media screen and (min-width: 783px) {
        top: 32px;
      }
    }

  }
}