.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev,
.slick-next {
  background: rgba(orange, 0.1);
  height: 100%;
  width: 9vw;
  z-index: 500;

  &:hover {
    background: rgba(orange, 0.2);
  }
}

.slider {
  &__single-slide {
    padding: 2rem 0;
    background-size: cover;
    background-position: center;
  }
}