.carbon-container {

  .theme-options {

    &__borderless {

      &.carbon-field {

        border-width: 0;
        padding: 6px 16px;

      }

      &:last-of-type {
        padding-bottom: 1rem;
      }

    }

  }

  .theme-options {

    &__extra-margin{

      &.carbon-field {

        margin-bottom: 16px;

      }

    }

  }

}
